@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.intro-banner {
    width: 100%;
    height: 500px;
    background: url(../images/youri.jpg) no-repeat center center;
    position: relative;
}
#details-content .title {
    position: absolute;
    margin-top: 135px;
    width: 668px;
    height: 136px;
}
.intro-banner .title h1 {
    font-size: 54px;
    font-family: Rubik;
    line-height: 1.21;
    letter-spacing: 1.7px;
    color: #ffffff;
}
#details-content .featured {
    position: absolute;
    margin-top: 291px;
    width: 668px;
    height: 136px;
}
.intro-banner .featured p {
    font-size: 23px;
    font-family: Work Sans;
    line-height: 1.61;
    letter-spacing: 0.4px;
    color: rgba(255, 255, 255, 0.8);
}
.heading-spacer {
    margin-top: 100px;
    width: 65px;
    height: 3px;
    background-color: #03a9f4;
}
#details-page {
    width: 620px;
    height: 49px;
    font-family: Rubik;
    text-transform: uppercase;
    font-size: 33px;
    margin-top: 22px;
    line-height: 1.48;
    letter-spacing: 1.2px;
    color: #08151b;
}
.milestone{
    color: #03a9f4;
    font-family: Work Sans;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 34px;
    letter-spacing: 1px;
}
#reflow_labs{
    color: #03a9f4;
    font-family: Work Sans;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 34px;
    letter-spacing: 1px;
}
.col-sm-4 .title h1{
    font-size: 27px;
    font-family: Rubik;
    line-height: 1.22;
    letter-spacing: 0.8px;
    text-align: left;
    color: #08151b;
}

.col-sm-4 .featured p{
    font-size: 19px;
    font-family: Work Sans;
    line-height: 1.58;
    letter-spacing: 1.1px;
    text-align: left;
    color: rgba(8, 21, 27, 0.79);
}

.container .row .col-sm-4 img:hover {
    filter: grayscale(100%);
    opacity:0.3;
    cursor: pointer;
}
.container .row .col-sm-4 img{
    opacity: 1;
    filter: grayscale(0%);
    transition: 0.3s all;
}
.col-sm-6 {
    margin-top: 100px;
}
.col-sm-6 .title h1{
    font-size: 31px;
    font-family: Rubik;
    line-height: 1.23;
    letter-spacing: 0.9px;
    text-align: left;
    color: #08151b;
}

.col-sm-6 .featured p{
    font-size: 19px;
    font-family: Work Sans;
    line-height: 1.58;
    letter-spacing: 1.1px;
    text-align: left;
    color: rgba(8, 21, 27, 0.79);
}

.container-fluid{
    background-color: #03a9f4;
    height: 160px;
    margin-top: 100px;
}

.container-fluid .container h1{
    float: left;
    font-family: Rubik;
    font-size: 36px;
    line-height: 1.28;
    letter-spacing: 1.3px;
    text-align: left;
    color: #ffffff;
    margin-top: 55px;
}

span img{
    float: right;
    margin-top: 66px;
    width: 58px;
    height: 30px;
}

.container .row .col-sm-8 img{
    margin-top: 70px;
    float: left;
}

.container .row .col-sm-8 h1{
    margin-top: 78px;
    margin-left: 70px;
}

.container .row .col-sm-4 .col-sm-6{
    margin-top: 70px;
    margin-bottom: 50px;
}
.container .row .col-sm-4 .col-sm-6 h1{
    width: 37px;
    height: 23px;
    font-family: Work Sans;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 0.6px;
    text-align: left;
    color: rgba(8, 21, 27, 0.5);
}

.container .row .col-sm-4 .col-sm-6 p{
    width: 122px;
    height: 20px;
    font-family: Work Sans;
    font-size: 20px;
    line-height: 2.4;
    text-align: left;
    color: rgba(8, 21, 27, 0.79);
}

.footer .container{
    border-top: solid 1px #cdcecf;
    padding-top: 30px;
}

.footer .container .col-sm-8 {
    padding-left: 0;
}
.footer .container .col-sm-8 p{
    font-family: Work Sans;
    font-size: 18px;
    text-align: left;
    color: rgba(8, 21, 27, 0.5);
}

.footer .container .col-sm-4 .col-sm-6, .footer .container .col-sm-4 {
    margin-top: 0;
}

.footer .container .col-sm-4 .col-sm-6 h1{
    margin-top: 0;
    height: 23px;
    font-family: Work Sans;
    font-size: 18px;
    letter-spacing: 0.6px;
    text-align: left;
    color: rgba(8, 21, 27, 0.5);
}
